<div>
  <div class="navbar">
    <div class="navbarleft">
    <h3><a href="/">Logo</a></h3>
    </div> 
    <div class="navbarlogin"> 
      <h3><a [routerLink] = "['login']">Login</a></h3>
      <h3><a [routerLink] = "['register']">Register</a></h3>
      <h3><a [routerLink] = "['sell']">Sell</a></h3>
      <h3><a [routerLink] = "['browse']">Browse All</a></h3>
  </div>
  <img src="./../../../static/images/e5c1cf53-795b-40f4-b189-dcaf24352db7_200x200.png" alt="">
</div>

<router-outlet></router-outlet>
